{% extends 'base.html.twig' %}

{% block title %}Search weather{% endblock %}

{% block body %}
    <h1>Search for current weather</h1>

    {{ include('weather/_form.html.twig') }}

    {% if temperature %}
        <div>
            The temperature for {{ weatherQuery.city }}, {{ weatherQuery.country }} is {{ temperature }}&deg;C
        </div>
    {% endif %}

{% endblock %}
